/** 
 * Digits
 */
#digits button {
  background-color: #3c5566;
  border: 1px solid #435f72; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #ffffff;

  /* Shadow*/
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.26);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.26);
}

#digits button:hover {
  cursor: pointer;
  background-color: #6891ad;
  /* Shadow */
  -webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
}
